.contentBox{
    // TODO: pegar as medidas corretas
    &__header{
        text-align: center;
        margin-bottom: 10px;
        padding: 7px;
        color: #272727;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -3px;
        animation: header .8s;
    }
    &__logo{
        animation: logo 1s;
        position: relative;
    }
    &__box{
        background-color: #fff;
        border-radius: 2px;
    }
    &__users{
        animation: users .5s;
    }
}

@keyframes users {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes header {
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes logo {
    0% {
        left: -100%
    }
    50% {
        left: 50%
    }
    100% {
        left: 0
    }
}