.user{
    display: flex;
    align-items: center;
    padding: 10px 18px;
    position: relative;
    transition: ease .5s;
    &--odd{
        background-color: #fff;
    }
    &--even{
        background-color: #f2f0f1;
    }
    &:hover{
        background-color: #1cbcb4;
        .user__avatar{
            border-color: #fff;
        }
        .user__name{
            color: #fff
        }
        .user__description{
            color: #272727;
        }
    }
    &__profile{
        position: relative;
        margin-right: 20px;
        height: 66px;
        width: 66px;
    }
    &__avatar{
        border-radius: 50%;
        border: 3px solid #6bbef1;
        height: 100%;
        width: 100%;
    }
    &__name{
        margin: 0;
        font-size: 14px;
        color: #272727;
        letter-spacing: -0.45px;
        font-weight: 600;
    }
    &__description{
        margin:0;
        color: #909090;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.3px;
    }
    &__badge{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
        right: 5px;
        height: 20px;
        width: 20px;
        color: #707070;
        border: 1px solid #707070;
        background-color: #fff;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -1.4px;
    }
    
}